header{
    background-color: #6e534f;
    color: white;
    padding: 1px 0;
    text-align: start;
    padding-left: 20px;
}
body{
    background-color: #ecdbdb;
}

#Education{
    padding: 20px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.1);
}
#workexp {
    padding: 20px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.1);
}
#projects {
    padding: 20px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.1);
}
#skills {
    padding: 20px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.1);
}